<%= form_tag('/static_pages/home', :method => :post) do %>
  Sorted by: </br>
  <% if params[:sorting_base].nil? || params[:sorting_base]=="solved_num" %>
    <% which = true %>
  <% else %>
    <% which = false %>
  <% end %>
  the number of people who solved
  <%= radio_button 'radio', 'sorting_base', 'solved_num', checked: which%>
  <%= radio_button 'radio', 'sorting_base', 'date', checked: (!which)%>
  the date of contest</br>

  <%= label :post, :yourid %>
  <%= text_field :you, :id, value: params[:yourid] %>
  </br>
  <%= label :post, :oppid  %>
  <%= text_field :opp, :id, value: params[:oppid] %>
  <%= submit_tag 'Compare!'   %>
<% end %>

<% if !@only_you_list.nil? %>
  <h3>The problems only you solved</h3>
  <%= render :partial => "displaylist", :locals => { object: @only_you_list} %>
  
  <h3>The problems only the opponent solved</h3>
  <%= render :partial => "displaylist", :locals => { object: @only_opp_list} %>

  <h3>The problems both solved</h3>
  <%= render :partial => "displaylist", :locals => { object: @both_list} %>
<%end%>
